################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfControlsExample/packages
/WpfControlsExample/MVVMWithPrism/bin/Debug
/WpfControlsExample/SamplePrismModule/bin/Debug
/WpfControlsExample/SamplePrismModule/obj/Debug
